<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>aws.amazon.com.AWS-Mobile-SDK-for-iOS-v2.6.31</string>
	<key>CFBundleName</key>
	<string>AWS Mobile SDK for iOS v2.6.31 Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.31</string>
	<key>CFBundleVersion</key>
	<string>2.6.31</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>AWS Mobile SDK for iOS v2.6.31 Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>aws.amazon.com.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Amazon Web Services, Inc.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Amazon Web Services, Inc.. All rights reserved.</string>
</dict>
</plist>
